/* You can add global styles to this file, and also import other style files */

$primary: #c30130 !default;
$enable-rounded: false !default;
$enable-negative-margins: true;

@import '@angular-schule/workshop-styles/index';

